section{
    padding: 60px 0;
}

.bi-wallet-fill {
    margin-right: 20px;
}

.navbar-brand .h1 {
    color: #c778d1 !important;
}

#pricing .text-primary,
#pricing .btn {
    color: #c29938 !important;
}

#pricing .border-primary,
#pricing .btn {
    border-color: #c29938 !important;
}

.bg-light,
#pricing .btn:hover {
    background-color: #fbf5e5 !important;
}

.bg-altlight {
    background-color: #f2ebfa !important;
}

.text-altdark {
    color: #522192 !important;
}